/* components/chat/ChatWindow.css */

.chat-section{
    width: 100%;
    background-color: white;
}

.chat-page{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 5vw;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 140px;
    flex: 1 0 0;
}

@media (max-width: 768px) {
    .chat-page {
        padding: 0;
        gap: 0;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .chat-page > .left-panel {
        flex: 0 0 30%;
        max-width: 30%;
    }
}

.chat-window {
    display: flex;
    flex-direction: column;
    height: 90vh;
    flex: 1;
}

.chat-header-wrap {
    flex-shrink: 0;
    margin-bottom: 8px;
}

.chat-input-wrap {
    flex-shrink: 0;
}

.chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 10px 20px;
    background-color: #FAF8F6;
    border-radius: 16px 16px 0px 0px;
    border: 1px solid var(--grayscale-gray200, #F4EFEC);


    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-body::-webkit-scrollbar {
    display: none;
}
