/* components/form/Url.css */

.url-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 40px;
    gap: 32px;
    background: var(--maincolor-white, #FFF);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    box-sizing: border-box;
}

.url-box-title {
    font-size: 24px;
    font-weight: 700;
    color: var(--blue-900, #1B1E33);
    font-family: Pretendard;
}

.url-box-title h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--blue-900, #1B1E33);
    font-family: Pretendard;
}

.url-box-title p {
    font-size: 20px;
    font-weight: 500;
    color: var(--grayscale-gray900, #6A6666);
    font-family: Pretendard;
    margin-top: 8px;
    word-break: break-word;
    white-space: normal;
}

.url-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
}

.url-box-img {
    width: 200px;
    max-width: 100%;
    height: auto;
}

.url-box-info {
    color: var(--orange-300, #FDA265);
    font-size: 18px;
    font-weight: 500;
    font-family: Pretendard;
    line-height: 28px;
    text-align: center;
    word-break: break-word;
    white-space: normal;
}

.url-box-btn-group {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.url-box-copy-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.url-box-noti {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    animation: fadeInOut 2s ease;
    padding: 14px 24px;
    max-width: 90%;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
    10% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
}

@media (max-width: 768px) {
    .url-box {
        padding: 24px;
        gap: 24px;
    }

    .url-box-title h2 {
        font-size: 20px;
    }

    .url-box-title p {
        font-size: 16px;
    }

    .url-box-img {
        width: 140px;
    }

    .url-box-info {
        font-size: 14px;
        line-height: 1.6;
    }

    .url-box-btn-group {
        justify-content: center;
    }


    .url-box-noti {
        max-width: 110%;
        border-radius: 80px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
