.white-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 952px;
    padding: 40px;
    gap: 56px;
    border-radius: 16px;
    background: var(--maincolor-white, #fff);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.04);
}

/* 반응형 대응 */
@media (max-width: 1024px) {
    .white-box {
        width: 100%;
        padding: 32px 24px;
        gap: 40px;
    }
}
