/* src/pages/MatchResultProject/MatchResultSignIn.css */

.MatchResultSignIn-section{
    width: 100%;
    background-color: #f9f8f6;
}
.MatchResultSignIn-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 5vw;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    min-height: 150vh;
    overflow-x: hidden;
}

.MatchResultSignIn-right {
    padding: 65px 0 0 100px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .MatchResultSignIn-right {
        padding: 32px 16px;
    }
}
