/* src/pages/TeamMatchingResult/MatchingResultPage.css */

/* fonts */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.matching-container {
  max-width: 816px;
  margin: 0 auto;
  padding: 40px 16px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.matching-layout {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 5vw;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 60px;
}

.matching-content {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}

/* 모바일 대응 */
@media (max-width: 768px) {
  .matching-layout {
    flex-direction: column;
  }

  .matching-content {
    width: inherit;
    box-sizing: border-box;
  }

  .matching-sidebar {
    width: inherit;
    text-align: center;
    box-sizing: border-box;
    max-width: none !important;
    min-height: 0 !important;
    height: fit-content !important;
  }

  .team-card {
    width: 100%;
  }

  .result-card {
    width: 100%;
  }
}
