/* components/footer/Footer.css */

/* fonts */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

.footer-wrapper {
    width: 100%;
    background: #131115;
    display: flex;
    margin-top: auto;
}

.main-footer {
    width: 100%;
    max-width: 1440px;
    height: 560px;
    margin: 0 auto;
    padding: 40px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
}

.main-footer h4 {
    color: #fd8b3e;
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 16px;
    margin: 0;
}

/* ul과 li 공통 스타일 */
.main-footer ul {
    padding-left: 0;
    margin: 0;
}

.main-footer li {
    list-style-type: none;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* a 링크 스타일 */
.main-footer li a {
    text-decoration: none;
    color: #b76632;
    font-family: "Pretendard";
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    transition: color 0.3s ease;
}

/* 링크에 대한 hover 효과 */
.main-footer li a:hover {
    color: #fd8b3e; /* 링크 호버 시 색상 변경 */
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 64px;
}

/* 푸터 구조 */
.footer-service,
.footer-page,
.footer-cs {
    flex: 1 1 240px; /* grow, shrink, basis */
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo {
    align-self: flex-end;
    width: min-content;
    height: auto;
    opacity: 0.3;
}

