/* components/button/Home/RegisterButton.css*/

.registerhome-btn {
    display: flex;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    border: 2px solid var(--orange-400, #FD8B3E);
    color: var(--maincolor-white, #FFF);
    background-color: #111015;
    text-align: center;
    leading-trim: both;
    text-edge: cap;

    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.registerhome-btn:hover {
    background-color: var(--orange-400, #FD8B3E);
    color: #111015;
}